.footer {
  color: #f4f4fd;
  background-color: #2e2f42;
  padding: 96px 0;
}

.footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-logo-container {
  margin-bottom: 72px;
  text-align: center;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-text {
  max-width: 288px;
  text-align: left;
}

.footer-socials {
  margin-bottom: 72px;
}

.footer-socials-title {
  margin-bottom: 16px;

  font-weight: 500;
  text-align: center;
  color: #fff;
}

.footer .socials-item {
  width: 40px;
  height: 40px;
}

.footer .socials {
  gap: 16px;
  justify-content: center;
}

.footer .socials-icon {
  width: 24px;
  height: 24px;
}

.socials-link.green:hover,
.socials-link.green:focus {
  background-color: #31d0aa;
}

.subscribe-container {
  width: 100%;
}

.footer-subscribe-caption {
  margin-bottom: 16px;

  font-weight: 500;
  text-align: center;
  color: #fff;
}

.footer-subscribtion-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.footer-subscribtion-input {
  width: 100%;
  height: 40px;
  padding: 8px 16px;

  border: 1px solid #fff;
  border-radius: 4px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #fff;

  background-color: transparent;
  outline: transparent;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: border-color;
}

.footer-subscribtion-input:focus {
  border-color: #31d0aa;
}

.footer-subscribtion-input::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #fff;
}

.subscribe-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 16px;

  min-width: 165px;
  padding: 8px 24px;

  border-radius: 4px;

  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;

  background-color: #4d5ae5;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color;
}

.subscribe-btn:focus,
.subscribe-btn:hover {
  background-color: #31d0aa;
}

@media only screen and (min-width: 768px) {
  .footer .container {
    max-width: 584px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: flex-start;
  }

  .footer-logo-container {
    margin-right: 24px;
    margin-bottom: 72px;
    text-align: left;
  }

  .footer-text {
    max-width: 264px;
  }

  .footer-socials {
    margin-bottom: 72px;
  }

  .footer-socials-title {
    text-align: left;
  }

  .footer .socials {
    justify-content: flex-start;
  }

  .subscribe-container {
    width: auto;
  }

  .footer-subscribe-caption {
    text-align: left;
  }

  .footer-subscribtion-form {
    flex-direction: row;
    align-items: center;
    gap: 24px;
  }

  .footer-subscribtion-input {
    width: 100%;
  }
}

@media only screen and (min-width: 1158px) {
  .footer {
    padding: 100px 0;
  }

  .footer .container {
    max-width: 1158px;

    flex-direction: row;
    flex-wrap: nowrap;
    align-items: baseline;
    justify-content: flex-start;
  }

  .footer-logo-container {
    margin-right: 120px;
    margin-bottom: 0;
    text-align: left;
  }

  .footer-text {
    width: 264px;
  }

  .footer-socials {
    margin-right: 80px;
    margin-bottom: 0;
  }

  .footer-socials-title {
    text-align: left;
  }

  .subscribe-container {
    margin-left: auto;
    margin-left: 0;
  }

  .footer-subscribe-caption {
    text-align: left;
  }

  .footer-subscribtion-form {
    flex-direction: row;
    gap: 24px;
  }

  .footer-subscribtion-input {
    width: 264px;
  }
}
